In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
В рамках дополнительного проекта попробуем освоить API, позволяющий получать данные о музейных коллекциях.

Документация: https://metmuseum.github.io

Ключ: для использования выбранного API (на момент написания задания) ключ не требуется :)

Всего есть 4 основных раздела:

Объекты (Objects)
Объект (Object) – данные об объекте (например, о картине)
Департаменты (Departments) –  данные о департаменте/разделе (например, "Современное искусство") 
Поиск (Search) – используется для поиска
В рамках задач поработаем с блоками Object и Search.

In [ ]:
#  найти все произведения, связанные с подсолнухами. Выполните поиск по слову "sunflowers". 
#  Внимательно посмотрите на формат ответа и сохраните id полученных объектов в список sunflower_ids

In [6]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()

In [105]:
sunflower_ids = res['objectIDs']
sunflower_ids

In [8]:
a = [436524, 16822570, 437329, 2032, 20149]
objects = []
for i in a:
    if i in sunflower_ids:
        objects.append(i)
    else:
        continue
print(objects)

[436524, 437329, 2032]

In [ ]:
# собрать информацию об этих объектах

In [10]:
# Выполните запрос для объекта 437980

r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')
obj_test = r_test.json()
obj_test

{'objectID': 437980,
 'isHighlight': False,
 'accessionNumber': '49.30',
 'accessionYear': '1949',
 'isPublicDomain': True,
 'primaryImage': 'https://images.metmuseum.org/CRDImages/ep/original/DP130999.jpg',
 'primaryImageSmall': 'https://images.metmuseum.org/CRDImages/ep/web-large/DP130999.jpg',
 'additionalImages': [],
 'constituents': [{'constituentID': 161947,
   'role': 'Artist',
   'name': 'Vincent van Gogh',
   'constituentULAN_URL': 'http://vocab.getty.edu/page/ulan/500115588',
   'constituentWikidata_URL': 'https://www.wikidata.org/wiki/Q5582',
   'gender': ''}],
 'department': 'European Paintings',
 'objectName': 'Painting',
 'title': 'Cypresses',
 'culture': '',
 'period': '',
 'dynasty': '',
 'reign': '',
 'portfolio': '',
 'artistRole': 'Artist',
 'artistPrefix': '',
 'artistDisplayName': 'Vincent van Gogh',
 'artistDisplayBio': 'Dutch, Zundert 1853–1890 Auvers-sur-Oise',
 'artistSuffix': '',
 'artistAlphaSort': 'Gogh, Vincent van',
 'artistNationality': 'Dutch',
 'artistBeginDate': '1853',
 'artistEndDate': '1890',
 'artistGender': '',
 'artistWikidata_URL': 'https://www.wikidata.org/wiki/Q5582',
 'artistULAN_URL': 'http://vocab.getty.edu/page/ulan/500115588',
 'objectDate': '1889',
 'objectBeginDate': 1889,
 'objectEndDate': 1889,
 'medium': 'Oil on canvas',
 'dimensions': '36 3/4 x 29 1/8 in. (93.4 x 74 cm)',
 'measurements': [{'elementName': 'Frame',
   'elementDescription': None,
   'elementMeasurements': {'Depth': 10.795,
    'Height': 116.2052,
    'Width': 96.5202}},
  {'elementName': 'Other',
   'elementDescription': 'glass',
   'elementMeasurements': {'Height': 94.29769, 'Width': 76.517654}},
  {'elementName': 'Overall',
   'elementDescription': None,
   'elementMeasurements': {'Height': 93.4, 'Width': 74}}],
 'creditLine': 'Rogers Fund, 1949',
 'geographyType': '',
 'city': '',
 'state': '',
 'county': '',
 'country': '',
 'region': '',
 'subregion': '',
 'locale': '',
 'locus': '',
 'excavation': '',
 'river': '',
 'classification': 'Paintings',
 'rightsAndReproduction': '',
 'linkResource': '',
 'metadataDate': '2023-10-18T04:55:33.33Z',
 'repository': 'Metropolitan Museum of Art, New York, NY',
 'objectURL': 'https://www.metmuseum.org/art/collection/search/437980',
 'tags': [{'term': 'Landscapes',
   'AAT_URL': 'http://vocab.getty.edu/page/aat/300132294',
   'Wikidata_URL': 'https://www.wikidata.org/wiki/Q191163'},
  {'term': 'Cypresses',
   'AAT_URL': 'http://vocab.getty.edu/page/aat/300343641',
   'Wikidata_URL': 'https://www.wikidata.org/wiki/Q146911'}],
 'objectWikidata_URL': 'https://www.wikidata.org/wiki/Q867510',
 'isTimelineWork': True,
 'GalleryNumber': '825'}

In [12]:
print('objectName:  ', obj_test['objectName'])
print('department:  ', obj_test['department'])
print('objectID:    ', obj_test['objectID'])
print('title:       ', obj_test['title'])
print('artistDisplayName: ', obj_test['artistDisplayName'])
print('culture:     ', obj_test['culture'])

objectName:   Painting
department:   European Paintings
objectID:     437980
title:        Cypresses
artistDisplayName:  Vincent van Gogh
culture:

In [ ]:
#  напишите цикл, с помощью которого будет собрана информация об объектах sunflower_ids. 
#  Результаты запишите в датафрейм

In [91]:
df = pd.DataFrame(columns=['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture'])
df

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [ ]:
sunflower_ids

In [104]:
data = []
for i in sunflower_ids:
    r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
    obj_test = r_test.json()
    try:
        d = {'objectID': obj_test['objectID'],
            'title': obj_test['title'],
            'artistDisplayName': obj_test['artistDisplayName'],
            'department': obj_test['department'],
            'objectBeginDate': obj_test['objectBeginDate'],
            'objectEndDate': obj_test['objectEndDate'],
            'period': obj_test['period'],
            'objectName': obj_test['objectName'],
            'culture': obj_test['culture']}
        data.append(d)
    except:
        continue

In [ ]:
data

In [102]:
df = pd.DataFrame(data)
df.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,436524,Sunflowers,Vincent van Gogh,European Paintings,1887,1887,,Painting,
1,484935,Sunflowers,Edward McKnight Kauffer,Modern and Contemporary Art,1921,1921,,Painting,
2,437112,Bouquet of Sunflowers,Claude Monet,European Paintings,1881,1881,,Painting,
3,210191,Vase with sunflowers,Rozenburg Plateelfabriek,European Sculpture and Decorative Arts,1896,1896,,Vase,
4,431264,Sunflowers,Lily Converse,Drawings and Prints,1941,1941,,Print,

In [ ]:
# Сколько объектов относятся к японской культуре? (culture –Japan)

In [103]:
df.query("culture == 'Japan'")

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
28,57922,Incense box,,Asian Art,1700,1799,Edo period (1615–1868),Incense box,Japan

In [ ]:
 Теперь попробуем построить более сложный запрос с помощью секции "Search"! 
На этот раз параметры необходимо передать через "&", 
например, departmentId (id департамента – 1) и q (ключевое слово – cat)

In [ ]:
#  Выполните поисковый запрос для департамента "Asian art" (departmentId = 6) 
#  с тегом "cat" и запишите id объектов в cat_ids.

In [108]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()
cats

In [114]:
cat_ids = cats['objectIDs'] 
cat_ids

In [119]:
for i in cat_ids[:1000]:     # берем только 1000 объектов, как указано в задании
    r = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
    obj_test = r.json()

    # формируем строчку для объекта
    try:
        df_cat = pd.DataFrame({'objectID' : obj_test['objectID'],
                                 'title' : [obj_test['title']],
                                 'artistDisplayName': [obj_test['artistDisplayName']],
                                 'department' : [obj_test['department']], 
                                 'objectBeginDate' : [obj_test['objectBeginDate']], 
                                 'objectEndDate' : [obj_test['objectEndDate']], 
                                 'objectName' : [obj_test['objectName']], 
                                 'culture': [obj_test['culture']],
                                 'period': [obj_test['period']] })
       
        df = pd.concat([df, df_cat])             # присоединяем
    except KeyError:
        continue

In [120]:
#  в каком периоде (period) было выполнено наибольшее количество работ, представленных в музее?

df.period.value_counts().head(5)

Edo period (1615–1868)          301
                                238
Qing dynasty (1644–1911)         72
Muromachi period (1392–1573)     41
Ming dynasty (1368–1644)         38
Name: period, dtype: int64